
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Logowanie Kontrola Jakości</h2>

<div class="jumbotron">
    <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1">Operator</span>
        <input type="text" class="form-control" placeholder="Wprowadz login" aria-describedby="sizing-addon1">
    </div>

    <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1">Hasło</span>
        <input type="text" class="form-control" placeholder="Wprowadź hasło" aria-describedby="sizing-addon1">
    </div>
</div>

