@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Konfiguracja ulotki</h2>

<div class="jumbotron">
    <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1">Kod produktu</span>
        <input type="text" class="form-control" placeholder="Wprowadz kod produktu" aria-describedby="sizing-addon1">
    </div>

    <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1">Numer zlecenia</span>
        <input type="text" class="form-control" placeholder="Wprowadź numer zlecenia" aria-describedby="sizing-addon1">
    </div>
    <button class="btn btn-success">Drukuj</button>
</div>